:root {
    --lavender-floral: #b597f6ff;
    --pale-cerulean: #96c6eaff;
}

html, body {
    margin: 0;
}

h1 {
    padding: 1em;
    text-align: center;
    background-color: var(--lavender-floral);
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: var(--lavender-floral);
}

.btn {
    background-color: var(--lavender-floral);
}

.textinput, .selectmultiple, .select {
    background-color: var(--pale-cerulean);
}

input[type=submit] {
    background-color: var(--lavender-floral);
    border-radius: 0.4em;
    padding: 0.4em;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 1em;
    width: 10em;

}

.buttonHolder {
    text-align: center;
}