{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <div class="text-center float-end">
            <img src="{% static 'orders/images/blue_ice_cream.png' %}" alt="blue ice cream" width="50%" >
            <br><br>
            <div class="blockquote-footer">
                Image by <a href="https://pixabay.com/users/schmidsi-104144/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1432273">Schmidsi</a>
                from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1432273">Pixabay</a>
            </div>
    </div>
    <div class="container-fluid">
        Click to order your ice cream:<br>
        <a class="btn btn-custom" href="{% url 'orders:order_create' %}">
            Start
        </a>
    </div>
{% endblock %}