<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Order</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'orders/style.css' %}">
    </head>
    <body>
        <h1>Order</h1>

        <div class="text-box">
            User ctrl to select multiple flavors. <br>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
            </form>
        </div>

    </body>
</html>