{% extends "base.html" %}

{% block title %}
    Receipt
{% endblock %}

{% block content %}
        <h1>Receipt</h1>
        {% if request.session.customer_name %}
        <div class="container-fluid">
            Your order was submitted. <br><br>
            <table class="table table-striped-columns table-custom">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ request.session.customer_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Flavors</th>
                        <td>{{ request.session.flavors }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Pickup time</th>
                        <td>{{ request.session.pickup_time }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
{% endblock %}